html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: "Roboto Mono", monospace;
    margin: 0 auto;
    color: #003049;
    line-height: 1.7;
    font-size: 16px;
}

.content {
    background-color: #e8e7e4;
}

/* -- Template - Menu Block -- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003049;
  padding-left: 20px;
  padding-right: 20px;
  color: #e8e7e4;
}


.menu__checkbox {
    display: flex;
    position: absolute;
    left: -9999px;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.menu__checkbox:checked ~ .heading__name {
    display: none;
}

.menu__toggler {
  position: absolute;
  left: 20px;
  cursor: pointer;
  }

.menu__list {
    display: none;
    list-style: none;
    padding-left: 0;
}

.menu__item {
  padding-bottom: 10px;
}

.menu__link {
  display: block;
  padding: 8px 30px;
  color: #e8e7e4;
  text-align: center;
  border: 1px solid #e8e7e4;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  background-color: #c5cfdc;
  color: #003049;
}

/* -- Template - Footer Block -- */

.footer {
    background-color: #003049;
    color: #e8e7e4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact__name--light,
.contact__email--light,
.contact__number--light {
    color:#e8e7e4;
}

.heading__name {
    text-decoration: none;
    color: #e8e7e4;
}

.link {
    text-decoration: none;
    text-align: center;
}

.linkedin-logo {
    width: 50px;
}

/* -- Index - Me + About Me Block -- */

.me {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

.me__image {
     width: 200px;
     height: 200px;
}

.me__first-line {
    font-size: 40px;
}

.name {
    font-weight: 1000;
}

.me__second-line {
    font-size: 30px;
}

.about-me {
    background-color: #c5cfdc;
    color: #003049;
    margin: 20px 40px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 6px;
}

.about-me__button {
    width: 200px;
    margin: 20px auto;
    padding: 8px;
    color: #e8e7e4;
    background-color: #003049;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.about-me__button:hover,
.about-me__button:focus,
.about-me__button:active {
    color: #003049;
    background-color: #e8e7e4;
}

/* -- Page omne + zkusenosti Margin -- */

.page {
    margin: 20px 40px;
}

/* -- Page spoluprace + podekovani Margin -- */

.page--just-text {
    margin: 20px 40px 300px 40px;
}

/* -- Heading Center -- */

.heading {
    text-align: center;
}

/* -- Page omne -- */

.info {
    margin-top: 20px;
    padding: 30px 30px;
    background-color: #fafaf9;
    max-height: 600px;
    text-align: center;
    border-radius: 6px;
}

/* -- Page zkusenosti -- */

.job {
    margin-top: 20px;
    padding: 30px 30px;
    background-color: #c5cfdc;
    max-height: 600px;
    text-align: center;
    border-radius: 6px;
}

.job__logo {
    max-width: 200px;
}

/* -- Page spoluprace -- */


/* -- Page kontakt -- */

.contact {
    display: block;
}

.contact__first-part {
    text-align: center;
}

.contact__heading--second {
    text-align: center;
    padding-top: 20px;
}

.contact__email--dark,
.contact__number--dark {
    color: #003049;
}

/* -- Page kontakt - form -- */

.form {
    background-color: #c5cfdc;
    padding: 0px 60px 10px 60px;
}

.form-field {
    margin-top: 20px;
}

.form-field input,
.textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #003049;
    border-radius: 2px;
}

label {
    display: block;
}

.form__button {
    width: 100px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    margin-top: 15px;
    background-color: #e8e7e4;
    color: #003049;
    border: 1px solid #003049;
    border-radius: 7px;
    font-weight: 600;
}

.button__form:hover,
.menu__link:focus,
.menu__link:active {
 background-color: #003049;
 color: #e8e7e4;
}

/* -- 700px -- */

@media (min-width: 700px) {
    .footer {
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    .about-me {
        margin: 50px 100px;
        padding: 20px 100px;
    }
    
    .form {
        border-radius: 6px;
    }

    .form-field input {
        width: 50%;
    }

    .textarea {
        width: 60%;
    }
}

/* -- 900px -- */

@media screen and (min-width: 900px) {
    .header {
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 42px;
    }

    .menu__toggler {
        display: none;
    }

    .menu__list {
        display: flex;
    }

    .menu__link {
        border: none;
        padding: 8px 15px;
    }
    
    .menu__item {
        padding-bottom: 0;
    }

    .page {
        margin: 50px 100px;
    }

    .page--just-text {
        margin: 50px 100px 400px 100px;
    }

    .me {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 50px 100px;
        text-align: left;
    }

     .me__first-line {
        font-size: 50px;
    }

    .me__image {
        width: 400px;
        height: 400px;
    }
 
    .info {
        padding: 40px 100px;
        text-align: left;
    }

    .contact {
        margin: 50px 100px;
    }

    .job {
        padding: 40px 100px;
        text-align: left;
    }

    .form-field input {
        width: 25%;
    }

    .textarea {
        width: 40%;
    }
}

